.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  .customSearch {
    width: 100%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .filterFormShow {
    border-radius: 8px;
    padding: 16px;
    background-color: white;
    border: 1px solid #edecec;
  }
  .filterForm {
    border-radius: 8px;
    padding: 16px;
    background-color: white;
  }

  .noHeaderCollapse {
    :global {
      .ant-collapse-header {
        display: none !important;
      }
      .ant-collapse-content-box {
        padding: 0 !important;
      }
    }
  }

  .buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    .formItem {
      margin: 0;
    }
  }
}
