.mainLayout {
  min-height: 100vh;
  .customHeader {
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.customTrigger {
  text-align: center;
  background-color: white;
}

.triggerButton {
  font-size: 30px;
}
