.custom-active {
  font-weight: 500;
  background-color: #e7ffde;
  color: #50923d;
  border: 1px solid #50923d;
}

.custom-notstart {
  font-weight: 500;
  background-color: #f1eeee;
  color: black;
  border: 1px solid #ccc;
}
