.container {
  .upload-button {
    margin-bottom: 16px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .cell {
      position: relative;
      width: calc(50% - 8px);
      height: 200px;
      border: 1px dashed #d9d9d9;
      background-color: #fafafa;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: border-color 0.3s;
      cursor: pointer;

      &:hover {
        border-color: #1890ff;
      }

      :global(.ant-image) {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }
      }

      &.empty {
        color: #aaa;
        font-size: 14px;
        font-style: italic;
      }

      .removeIcon {
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 18px;
        padding: 2px;
        cursor: pointer;
        background-color: white;
        box-shadow: 1px 1px 1px #aaa;
      }

      .starIcon {
        position: absolute;
        bottom: 6px;
        right: 6px;
        font-size: 20px;
        cursor: pointer;
        &.active {
          color: #fadb14;
        }
        &:not(.active) {
          color: #bbb;
        }
      }
    }
  }
}
