.flexClass {
  display: flex;
  align-items: center;
  gap: 12px;
}
.customSwitch {
  height: 100%;
}

.deleteIcon {
  color: #999;
  cursor: pointer;
  transition: color 0.2s;
}

.deleteIcon:hover {
  color: red;
}

.customTableSelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  .titleSelectCustom {
    display: flex;
    justify-content: space-between;
  }
}
.marginItem {
  margin-top: 10px;
}
