.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    .titleText {
      margin-bottom: 0px;
    }
  }
  .actionButtons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
