.loginFormContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loginCard {
    width: 30%;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    .formFields {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .loginButton {
      margin-top: 16px;
    }
  }
}
