.customTableSelect {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .titleSelectCustom {
    display: flex;
    justify-content: space-between;
  }
}
.flexClass {
  display: flex;
  align-items: center;
  gap: 8px;
}
